<%- layout("layouts/boilerplate")%>
<style>
  .main-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="main-div">
  <div class="card listing-card card-style" style="width: 45rem">
    <h3 class="ms-2">Created By <%=listing.owner.username%></h3>

    <img
      class="card-img-top"
      src="<%=listing.image.url%>"
      alt="Card image cap"
      style="height: 20rem"
    />
    <div class="card-body show">
      <p class="card-text"><b><%=listing.title%></b></p>
      <p class="card-text"><%=listing.description%></p>
      <p class="card-text">&#8377;<%=listing.price%></p>
      <p class="card-text"><%=listing.location%></p>
      <p class="card-text"><%=listing.country%></p>
    </div>

    <%if(currentUser && currentUser._id.equals(listing.owner._id)){%>

    <div class="row mt-3">
      <div class="col col-lg-3">
        <a href="/listings/<%=listing._id%>/edit"
          ><button class="btn btn-danger px-5">Edit</button></a
        >
      </div>
      <div class="col col-lg-4">
        <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
          <button class="btn btn-dark px-3">Delete</button>
        </form>
      </div>
    </div>
    <%}%>
    <hr />

    <!-- REVIEWS ARE STARTING HERE -->
    <%if(currentUser){%>
    <div>
      <form
        method="post"
        action="/listings/<%=listing._id%>/reviews"
        class="needs-validation"
        novalidate
      >
        <!-- gitjub rating section start here -->
        <h3>Leave a Comment</h3>
        <fieldset class="starability-heartbeat">
          <legend>Rating:</legend>
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <!-- gitjub rating section close here -->

        <b><label for="comment" class="form-label mb-2">Comments</label></b>
        <textarea
          name="review[comment]"
          type="text"
          class="form-control"
          rows="5"
          required
        ></textarea>
        <div class="invalid-feedback mb-4">please enter comment</div>
        <button class="mb-5 mt-4 btn btn-outline-dark" type="submit">
          submit
        </button>
      </form>
    </div>
    <%}%>

    <!-- REVIEWS ARE CLOSEING HERE -->

    <!-- SHOWING REVIEWS ARE STARTING HEREEE -->
    <div class="row">
      <%for(review of listing.reviews){%>

      <div class="col-sm-6 mt-2">
        <div class="card px-2 py-2">
          <div class="card-body">
            <h5 class="card-title mb-2">@<%=review.author.username%></h5>
            <p class="starability-result" data-rating="<%=review.rating%>"></p>
            <h6 class="card-text"><%=review.comment%></h6>
            <form
              method="post"
              action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
            >
              <button class="btn my-3 btn-outline-dark" type="submit">
                DELETE
              </button>
            </form>
          </div>
        </div>
      </div>
      <%}%>
    </div>

    <!-- SHOWING REVIEWS ARE CLOSING HEREEE -->
  </div>
</div>
